:root {
  background-image: linear-gradient(var(--rainbow));
  box-sizing: border-box;
  font-size: 100%;
  --rainbow: 90deg,
  red, red calc(100% / 7),
  orange calc(100% / 7), orange calc((100% / 7) * 2), 
  yellow calc((100% / 7) * 2), yellow calc((100% / 7) * 3),
  green calc((100% / 7) * 3), green calc((100% / 7) * 4), 
  blue calc((100% / 7) * 4), blue calc((100% / 7) * 5), 
  indigo calc((100% / 7) * 5), indigo calc((100% / 7) * 6), 
  violet calc((100% / 7) * 6), violet calc((100% / 7) * 7)
;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  font: 1rem / 1.5 sans-serif;
}
